# Common bazel output directories
bazel-*
!bazel-*.cfg

# Backup files for Emacs
*~

# Ignore IDEA / IntelliJ files
.idea/
cmake-build-*/

# Ignore Visual Studio code directories.
.vsbuild/
.vscode/

# Ignore Visual Studio Code files.
.vscode/
